option_settings:
  - option_name: SAMSARA_SFMTA_API_TOKEN
    value: placeholder
  - option_name: SAMSARA_SFMTA_GROUP_ID
    value: placeholder
  - option_name: SFMTA_TECH_PROVIDER_ID
    value: placeholder
  - option_name: SFMTA_SHUTTLE_COMPANY_ID
    value: placeholder
  - option_name: SFMTA_USERNAME
    value: placeholder
  - option_name: SFMTA_PASSWORD
    value: placeholder
  - option_name: SFMTA_DEBUG
    value: placeholder
  - option_name: SFMTA_LOCALHOST
    value: placeholder
  - option_name: SFMTA_VEHICLE_GOOGLE_SHEETS_KEY
    value: placeholder
  - option_name: SFMTA_ERROR_FROM_EMAIL
    value: placeholder
  - option_name: SFMTA_ERROR_FROM_PASSWORD
    value: placeholder
  - option_name: SFMTA_ERROR_TO_EMAIL
    value: placeholder
  - option_name: TZ
    value: America/Los_Angeles
  - option_name: SAMSARA_SFMTA_S3_BUCKET
    value: samsara-sfmta